# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Lock & package files
/package-lock.json
/package.json
frontend/package-lock.json
frontend/package.json
backend/package-lock.json
backend/package.json

# Build and Public folders
frontend/public/
frontend/build/
backend/build/

# Specific frontend files
frontend/src/assets/
frontend/src/reportWebVitals.js
frontend/src/setupTests.js

# Environment files
backend/.env
frontend/.env

# hint file
.hintrc